* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  

.table-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.table-center th,
.table-center td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.button-jump {
    background-color: #106466;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }