* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  

.table-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.table-center th,
.table-center td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.button-jump {
    background-color: #106466;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }


.header-center {
  text-align: center;
  width: 100%;
}


.title{
  /* margin: 10px; */
  padding: 20px;
  background-color: #EDEFFF;
}


.browse-body {
  background-color:#E1F6FD;
}



/* .layout {
  display: flex;
  flex-direction: column;
} */

.header {
  align-self: flex-start;
  padding: 20px;
  width: 50%;
  line-height:1.5;
}

.personal-info {
  margin-top: 10px;
  background-color: #FCFEF0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointments-section, .add-patient-data {
  width: 100%;
  background-color: #F0FDFE;
}

.headers-container {
  display: flex;      
  justify-content: space-between; 
  align-items: flex-start;  
  width: 100%;          
}

.combine {
  flex: 1;              
  margin: 10px;        
}

.layout {
  width: 100%;
  max-width: 1200px; 
  margin: auto;
  
  
}

.main-container {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.left-section {
  flex: 3; 
  padding-right: 20px; 
}

