/* 基础重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* 应用容器样式 */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f8ff; /* 淡蓝色背景，给人一种清新健康的感觉 */
}

h1 {
  color: #106466; /* 深绿色，符合健康主题 */
  margin: 20px 0;
}

nav ul {
  list-style-type: none;
  padding: 20px;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #106466;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f08080; /* 淡红色，用于鼠标悬停 */
}

button {
  background-color: #106466;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #f08080;
}

form {
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

input[type="text"], input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"], input[type="button"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #106466;
  background-color: #106466;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #f08080;
  border-color: #f08080;
}
